#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 1rem;
  text-align: center;
}

img {
  user-select: none;
  -webkit-user-drag: none;
  -webkit-touch-callout: none; 
  pointer-events: auto;  
}